* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   background: #000;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
}

#game {
   padding-top: 20px;
   width: 320px;
   margin: auto;
   font-size: 40px;
}

.main {
   width: 320px;
   height: 620px;
   margin: 20px auto 0;
   border: 10px solid #fff;
   font-size: 0;
}

.cell {
   display: inline-block;
   width: 30px;
   height: 30px;
   border: 1px solid #fff;
}

.movingCell {
   background: #c300ff;
}

.fixedCell {
   background: #ff0000;
}