* {
   box-sizing: border-box;
}

body {
   margin: 0;
   background: url('../images/bg.jpg') 0 0/cover no-repeat;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

#game {
   font-size: 20px;
   width: 320px;
   margin: auto;
   position: relative;
}

.game-wrapper {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   background: #000;
   padding: 10px 10px 0px 10px;
   border-radius: 20px 20px 0 0;
}

.game-wrapper.control {
   display: none;
}

.game-wrapper button{
   width: 70px;
   padding: 5px;
   border-radius: 10px;
}

.game-wrapper button:hover {
   background: #e7e7e7;
}

.main {
   width: 320px;
   height: 620px;
   margin: 0px auto 0;
   border: 10px solid #000000;
   font-size: 0;
   border-radius: 0  0 20px 20px;
   background: url('../images/tetris3.jpg');
   background-size: cover;
   background-position: center;
}

.cell {
   width: 30px;
   height: 30px;
   border: 1px solid transparent;
   display: inline-block;
}

.movingCell {
   background-color: rgba(0, 0, 0, 1);
   border: 1px solid #fff;
}

.fixedCell {
   background-color: rgba(0, 0, 0, .9);
   border: 1px solid #fff;
}

#next-tetro {
   position: absolute;
   top: 30%;
   left: -150px;
   font-size: 0;
}

#game-over {
   font-size: 100px;
   color: red;
   text-align: center;
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#start,
#pause {
   display: none;
}

.mobile {
   width: 300px;
   justify-content: space-between;
   position: fixed;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
   display: none;
}

.mobile button{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background: rgba(0, 0, 0, .3);
   border: 1px solid #fff;
}

.mobile button i {
   font-size: 20px;
   color: #fff;
}

@media(max-width: 768px) {
   .mobile {
      display: flex;
   }

   #next-tetro {
      display: none;
   }
}

